ALTER TABLE medias DROP COLUMN IF EXISTS cloudinary_url, DROP COLUMN IF EXISTS cloudinary_public_id, DROP COLUMN IF EXISTS has_cloudinary;
ALTER TABLE users DROP COLUMN IF EXISTS cloudinary_url, DROP COLUMN IF EXISTS cloudinary_public_id, DROP COLUMN IF EXISTS has_cloudinary;
